<ul class="collection" id="panel-marker-list">
    <li *ngFor="let marker of markers, let index = index"
        (click)="emitMarkerInformationsEvent(marker)"
        class="collection-item avatar"
        id="marker-{{ marker.id }}">

        <img src="http://lorempixel.com/100/100/city/?random={{ index }}" alt="" class="circle">
        <span class="title">{{ marker.name }}</span>
        <p> {{ marker.description|slice:0:120 }} </p>
        <div class="secondary-content">
            <i (click)="deleteMarker($event, marker)" class="material-icons red-text right">clear</i>
        </div>
    </li>
</ul>
