<form [ngFormModel]="markerForm" (ngSubmit)="persistNewMarker(markerForm.value)" id="tp-marker-form">

    <div *ngIf="(!travelMarker.latitude && !travelMarker.longitude)" id="form-didactic-overlay" class="valign-wrapper">
        <h4 class="valign"> First things first, click on the map or use the map search to activate the form !</h4>
    </div>

    <h5> Basic informations </h5>
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons cyan-text prefix">location_on</i>
            <input [ngFormControl]="markerForm.controls['name']"
                   id="marker_name"
                   type="text"
                   class="validate">
            <label for="marker_name" data-error="Name is required" data-success="">Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons cyan-text prefix">list</i>
            <select name="type" id="type-selector">
                <option value="default" disabled selected>Type of marker</option>
                <optgroup label="Culture">
                    <option value="art">Art</option>
                    <option value="museum">Museum</option>
                    <option value="temple">Temple or Shrine</option>
                </optgroup>
                <optgroup label="Entertainment">
                    <option value="entertainment">Entertainment</option>
                    <option value="bar">Bar</option>
                    <option value="mall">Mall</option>
                    <option value="restaurant">Restaurant</option>
                </optgroup>
                <optgroup label="Information">
                    <option value="informations">Tourist Center</option>
                </optgroup>
                <optgroup label="Logistic">
                    <option value="hotel">Hotel</option>
                    <option value="station">Transport Station</option>
                    <option value="harbor">Harbor / Peer</option>
                    <option value="airport">Airport</option>
                </optgroup>
                <optgroup label="Site Seeing">
                    <option value="landscape">Landscape</option>
                </optgroup>
                <optgroup label="People">
                    <option value="friends">Friends</option>
                    <option value="family">Family</option>
                </optgroup>
                <option value="other">Other</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons cyan-text prefix">description</i>
            <textarea id="description" class="materialize-textarea" [ngFormControl]="markerForm.controls['description']"></textarea>
            <label for="description">Description</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons cyan-text prefix">location_city</i>
            <input [ngFormControl]="markerForm.controls['address']"
                   id="marker_address"
                   type="text"
                   class="validate">
            <label for="marker_address" data-error="wrong" data-success="">Address</label>
        </div>
    </div>

    <div class="divider"></div>
    <h5> Details </h5>
    <div class="row">
        <div class="input-field col s12 m12 l6">
            <i class="material-icons cyan-text prefix">access_time</i>
            <input [ngFormControl]="markerForm.controls['duration']" id="marker_duration" type="text" class="validate">
            <label for="marker_duration" data-error="wrong" data-success="">Duration</label>
        </div>
        <div class="input-field col s12 m12 l6">
            <i class="material-icons cyan-text prefix">attach_money</i>
            <input [ngFormControl]="markerForm.controls['price']" id="marker_price" type="text" class="validate">
            <label for="marker_price" data-error="wrong" data-success="">Price</label>
        </div>
    </div>

    <div class="divider"></div>
    <h5> Files </h5>
    <div class="row">
        <div class="file-field input-field col s6">
            <div class="btn grey">
                <span>File</span>
                <input type="file" disabled multiple>
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload one or more files">
            </div>
        </div>
        <div class="file-field input-field col s6">
            <div class="btn grey">
                <span>Image</span>
                <input type="file" disabled multiple>
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload an image">
            </div>
        </div>
    </div>

    <div class="divider"></div>
    <div class="row">
        <div class="file-field input-field col s12">
            <button class="waves-effect waves-light cyan btn btn-large center-align" type="submit">Add Marker</button>
        </div>
    </div>
</form>
