<ul class="collection">
    <li *ngFor="#marker of markers" class="collection-item avatar">
        <img src="http://lorempixel.com/100/100/city/?random=1" alt="" class="circle">
        <span class="title">{{ marker.name }}</span>
        <p> {{ marker.content }} </p>
        <a href="#!" class="secondary-content">
            <div class="chip">
                <img src="http://lorempixel.com/100/100/people/?random=1" alt="Contact Person">
                Jane Doe
            </div>
        </a>
    </li>
</ul>
