<ul class="collection">
              <li class="collection-item avatar">
                  <img src="http://lorempixel.com/100/100/city/?random=1" alt="" class="circle">
                  <span class="title"> Quartier MontMartre </span>
                  <p> Je veux le voir !! </p>
                  <a href="#!" class="secondary-content">
                      <div class="chip">
                          <img src="http://lorempixel.com/100/100/people/?random=1" alt="Contact Person">
                          Jane Doe
                      </div>
                  </a>
              </li>
              <li class="collection-item avatar">
                  <img src="http://lorempixel.com/100/100/nature/?random=1" alt="" class="circle">
                  <span class="title"> Les Tuileries </span>
                  <p>First Line <br>Second Line</p>
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
              </li>
              <li class="collection-item avatar">
                  <img src="http://lorempixel.com/100/100/nature/?random=2" alt="" class="circle">
                  <span class="title">Le Jardin du Luxembourg</span>
                  <p> trop beau !</p>
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
              </li>
              <li class="collection-item avatar">
                  <img src="http://lorempixel.com/100/100/fashion/?random=3" alt="" class="circle">
                  <span class="title">Le musée Beaubourg</span>
                  <p> un peu chelou mais bien sympa apparemment</p>
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
              </li>
              <li class="collection-item avatar">
                  <img src="http://lorempixel.com/100/100/city/?random=3" alt="" class="circle">
                  <span class="title">Le quartier Japonais - rue saint-anne</span>
                  <p> à ne manquer sous aucun pretexte</p>
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
              </li>
              <li class="collection-item avatar">
                  <i class="material-icons circle">location_on</i>
                  <span class="title">Title</span>
                  <p> blabla
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
              </li>
          </ul>
