<div class="home">
    <div class="row z-depth-2">
        <div class="col s12 m12 l12 white">
            <navbar
                [isLoginformActivated]="true"
                (toggle-login-form)="form.displayLoginForm()">
            </navbar>
        </div>
    </div>

    <div class="valign-wrapper">
        <section id="tp-content" class="valign">
            <div class="row">
                <div class="col s12 center-align">
                    <h1 id="tp-app-grabber" class="white-text">The perfect trip, at a glance</h1>
                    <h4 id="tp-app-grabber-subtitle">
                        Plan efficiently your trips with anyone, in real time !
                    </h4>
                </div>
                <travel-form #form [signInOnly]="signInOnly"></travel-form>
            </div>
        </section>
    </div>
</div>
