


#tp-header{
    width:100%;
}

#tp-content{
    margin-top: 0px;
    width:100%;
}

#tp-app-grabber{
    font-weight: 300;
}

#tp-app-grabber-subtitle{
    padding-bottom: 40px;
    font-weight: 300;
}