<form [ngFormModel]="inviteFriendsForm" (ngSubmit)="inviteFriends(inviteFriendsForm.value)">
    <div id="tp-form-card3" class="card-content">
        <a href="#tp-steps-describer" class="modal-trigger">
            <i class="material-icons right">more_vert</i>
        </a>
        <h4 class="center-align clearfix">
            Let's build the perfect trip to <strong> Tokyo </strong>
        </h4>
        <p class="card-title grey-text text-darken-4 center-align">
            Welcome {{ userName }} ! Now it's time to involve everyone !
        </p>

        <div id="tp-app-invite" class="row">
            <div class="input-field col s12">
                <textarea [ngFormControl]="inviteFriendsForm.controls['friends']"
                          name="emails" placeholder="One mail address per line...">
                </textarea>
            </div>
            <div class="input-field col s12">
                <textarea [ngFormControl]="inviteFriendsForm.controls['message']"
                          name="message" placeholder="Add a message to tell everyone...">
                </textarea>
            </div>
        </div>
    </div>
    <div class="card-action">
        <button id="tp-invite-form-submit" class="waves-effect waves-light btn orange">
            Let's organize !
        </button>
    </div>
</form>