/* Travel FORM */
#tp-travel-form {
    background-color: rgba(255,255,255,0.4) ;
}

.card {
    background-color: rgba(255,255,255,0.7);
}

#tp-app-destination{
    margin-top: 10px;
}

input#destination{
    height: 80px;
    font-size: 48px;
    font-weight: 200;
}

#tp-steps-describer h5, #tp-steps-describer h4{
    font-weight: 300;
}

#tp-first-form-social-networks button{
    display: block;
    width: 100%;
}

#tp-form-card3 textarea {
    min-height: 7rem;
    resize: vertical;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    border: 2px solid rgb(255, 152, 0);
    padding: 5px;
}

#tp-app-subscribe{
    display: none;
}

/* FORM INPUTS * /
/* label color */

.input-field label {
    color: #000;
}
/* label focus color */
.input-field input:focus + label {
    color: #26a69a;
}
/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}
/* valid color */
.input-field input.valid {
    border-bottom: 1px solid #4CAF50;
    box-shadow: 0 1px 0 0 #4CAF50;
}
/* invalid color */
.input-field input.invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #000;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #333;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #333;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #333;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #333;
}