<div id="tp-travel-form" class="col s12 m10 l8 push-m1 push-l2">
    <div [ngSwitch]="step">

        <div fadeToggle *ngSwitchWhen="1" class="card col s12 m8 l6 push-m2 push-l3">
            <destination-form (destination)="onDestination($event)"></destination-form>
        </div>

        <div fadeToggle *ngSwitchWhen="2" class="card col s12">
            <login-form (login)="onLogin($event)"></login-form>
        </div>

        <div fadeToggle *ngSwitchWhen="3" class="card">
            <invite-friends-form (invite-friends)="onInviteFriends($event)"></invite-friends-form>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="tp-steps-describer" class="modal">
    <div class="modal-content">
        <h4 class="orange-text">What are the first steps ?</h4>
        <br/>
        <h5>Destination name</h5>
        <p>First step is to enter your destination, something like <b>"France"</b>, <b>"Japan"</b> or <b>"Asia"</b>,it's
            up to you.</p>
        <div class="divider"></div>
        <h5>Sign up or login</h5>
        <p>Create a account in Travel Planner or use Facebook / Google to connect</p>
        <div class="divider"></div>
        <h5>Invite Friends or Family</h5>
        <p>Send the Travel link to your friends via email, facebook, or sms, so they can join you !</p>
        <div class="divider"></div>
        <br/>
        <h5>
            <i class="material-icons orange-text">favorite_border</i>
            <strong> Enjoy !</strong>
            <i class="material-icons orange-text">favorite_border</i>
        </h5>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Ok !</a>
    </div>
</div>
