/* Travel FORM */
#tp-travel-form {
}

.card {
    background-color: rgba(255,255,255,0.7);
}

#tp-app-destination{
    margin-top: 10px;
}

input#destination{
    height: 80px;
    font-size: 42px;
    font-weight: 200;
}

#tp-steps-describer h5, #tp-steps-describer h4{
    font-weight: 300;
}

#tp-first-form-social-networks button{
    display: block;
    width: 100%;
}

#tp-form-card3 textarea {
    min-height: 7rem;
    resize: vertical;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    border: 2px solid rgb(255, 152, 0);
    padding: 5px;
}

#tp-app-subscribe{
    display: none;
}

#destination-label{
    width: 100%;
}

#destination-label:after{
    margin-top: 40px;
}

#tp-login-form-submit{
    margin-top:10px;
}