/* override materialize */
html, body, #tp-content, #tp-content .row, #mapid{
  height:100%;
}

.tabs .tab a, .tabs .tab a.active {
  color: #FF9800;
}
.tabs .indicator {
  background-color: #FF9800;
}

.collection .collection-item.avatar .secondary-content {
  position: absolute;
  top: 12px;
  right: 12px;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: #FF9800;
}


/* app */
#tp-app-title{
	font-style:italic;
	font-weight: 200;
}

#tp-content{
  margin-top: -20px;
}

#tp-chat{
  margin: 1.46rem 0 0 0;
}

#tp-chat img{
  max-width: 50px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

#tp-step-select{
}

#tp-tabs{
  margin-top: 20px;
}