<div *ngIf="currentNote && currentItem" class="card" >
    <div class="card-content">
        <div *ngIf="!editMode">
            <span class="card-title activator grey-text text-darken-4">{{currentItem.title}}</span>
            <div class="panel-item-content">
                {{currentItem.content}}
            </div>
        </div>
        <div *ngIf="editMode">
            <span class="card-title activator grey-text text-darken-4">{{currentItem.title}}</span>
            <form [ngFormModel]="itemForm" (ngSubmit)="editItem(itemForm.value)">
                <div class="form-input input-field">
                    <input [ngFormControl]="itemForm.controls['title']"  [(ngModel)]="currentItem.title" #itemTitle id="item-title"
                           type="text"
                           value="">
                    <label class="active" for="item-title">Item title</label>
                </div>
                <div class="input-field">
                    <textarea #itemContent [(ngModel)]="currentItem.content"
                              [ngFormControl]="itemForm.controls['content']"
                              id="item-content"
                              class="materialize-textarea"></textarea>
                    <label class="active" for="item-content">Item content</label>
                </div>
                <button class="waves-effect waves-light cyan btn">Save</button>
            </form>
        </div>
    </div>
    <div class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large orange">
            <i class="large material-icons">edit</i>
        </a>
        <ul>
            <li (click)="markAsDone($event)">
                <a class="btn-floating green darken-1">
                    <i class="material-icons">done</i>
                </a>
            </li>
            <li (click)="cancelItem()">
                <a class="btn-floating red darken-1">
                    <i class="material-icons">delete</i>
                </a>
            </li>
            <li *ngIf="!currentItem.done" (click)="toggleEditMode()">
                <a class="btn-floating orange">
                    <i class="material-icons">mode_edit</i>
                </a>
            </li>
            <li>
                <a class="btn-floating lime">
                    <i class="material-icons grey">insert_photo</i>
                </a>
            </li>
            <li>
                <a class="btn-floating blue">
                    <i class="material-icons grey">attach_file</i>
                </a>
            </li>
        </ul>
    </div>
</div>