.actions{
    cursor:pointer;
}

.actions i{
    line-height: 3rem;
    margin-right: 5px;
}

.collapsible-form{
    padding: 10px;
}

.modal.bottom-sheet{
    height: 50%;
    overflow-y: scroll;
}

.tp-note-add{
    cursor:pointer;
}