<!-- Modal Structure -->
<div id="tp-notes" class="modal bottom-sheet">
    <div class="modal-content">
        <section id="tp-all-notes-panel" class="row">

            <div id="panel-notes" class="col s12 m6 l6">
                <h4>
                    Notes and reminders
                    <i (click)="toggleNoteForm()" class="secondary-content material-icons cyan-text lighten-1 tp-note-add">note_add</i>
                </h4>

                <form *ngIf="isNoteFormActive" [ngFormModel]="noteForm" (ngSubmit)="persistNewNote(noteForm.value)">
                    <div class="form-input input-field">
                        <input [ngFormControl]="noteForm.controls['name']"
                               #itemName id="item-title"
                               type="text" value="">
                        <label for="item-title">New item title</label>
                    </div>
                    <button class="waves-effect waves-light cyan btn">Save</button>
                    <div (click)="toggleNoteForm()" class="waves-effect waves-light red btn">Cancel</div>
                </form>

                <note *ngFor="let note of allNotes, let index = index"
                      [note]="note"
                      id="note-{{note.id}}"
                      (display-item)="loadItem($event)"
                      (delete-item)="clearCurrentDisplayedItem()">
                </note>
            </div>
            <!-- this contain the note detail zone -->
            <div fadeToggle *ngIf="shouldWeDisplayInformations()" id="panel-details" class="col s12 m6 l6 grey lighten-4">
                <note-detail [currentNote]="allNotes[currentNoteIndex]" [currentItem]="allNotes[currentNoteIndex].items[currentItemIndex]"> </note-detail>
            </div>
        </section>
    </div>
</div>