<div class="row" id="tp-navbar">
    <div class="col s12 m12 l6" id="tp-navbar-left">
        <h3 id="tp-app-title">Travel Planner</h3>
    </div>
    <div class="col s12 m12 l6" id="tp-navbar-right">
        <div class="row">
            <div *ngIf="isLoginformActivated" class="col right right-align">
                <a (click)="toggleLoginForm()" id="tp-login-form">Sign in</a>
            </div>

            <div *ngIf="isChatActivated" class="col right right-align">
                <a (click)="toggleChat()" id="tp-chat-all"
                   class="btn-floating btn-large waves-effect waves-light orange"><i class="material-icons">chat</i></a>
                <span *ngIf="chatUnreadMessages > 0" class="badge-nb-messages white grey-text text-darken-1 z-depth-2">{{ chatUnreadMessages }}</span>
            </div>

            <div *ngIf="isNotesActivated" class="col right right-align">
                <a (click)="toggleNotes()" id="tp-todo-list"
                   class="btn-floating btn-large waves-effect waves-light #26c6da cyan lighten-1"><i
                        class="material-icons">note_add</i></a>
            </div>

            <div *ngIf="isMapTogglerActivated" class="col right hide-on-med-and-up right-align">
                <a (click)="toggleMap()"
                   class="btn-floating btn-large waves-effect waves-light pink"><i class="material-icons">map</i></a>
            </div>
        </div>
    </div>
</div>
