#tp-app-title{
    font-style:italic;
    font-weight: 200;
}

#tp-navbar{
    margin-bottom: 0px;
}

#tp-navbar-right .row{
    margin: 1.46rem 0 1.168rem 0;
}

#tp-login-form{
    display:block;
    cursor: pointer;
}