#tp-navbar .col{
    position: relative;
}

#tp-app-title{
    font-style:italic;
    font-weight: 200;
}

#tp-navbar{
    margin-bottom: 0px;
}

#tp-navbar-right .row{
    margin: 1.46rem 0 1.168rem 0;
}

#tp-login-form{
    display:block;
    cursor: pointer;
}

.badge-nb-messages{
    display: block;
    position: absolute;
    top: -8px;
    right: 4px;
    border-radius: 30px;
    width: 24px;
    height: 24px;
    margin: 0;
    text-align: center;
    padding: 2px;
    z-index: 10;
}