<div class="row z-depth-2 orange">
    <div id="navbar-container" class="col s12 m7 l8 white">
        <navbar></navbar>
    </div>
    <div class="col s12 m5 l4">
        <travel-selector></travel-selector>
    </div>
</div>
<section id="tp-content">
    <div class="row">
        <div id="map-container" class="col s12 m7 l8">
            <map></map>
        </div>
        <div class="col s12 m5 l4">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs" id="tp-tabs">
                        <li class="tab col s3"><a href="#test1">New Spot</a></li>
                        <li class="tab col s3"><a class="active" href="#test2">All spots</a></li>
                        <li class="tab col s3"><a href="#test3">Schedule</a></li>
                    </ul>
                </div>
                <!-- NEW SPOT FORM -->
                <div id="test1" class="col s12">
                    <poi-form></poi-form>
                </div>
                <!-- ALL SPOTS-->
                <div id="test2" class="col s12">
                    <marker-list></marker-list>
                </div>
                <div id="test3" class="col s12">
                    <h4> Schedule yout trip day by day </h4>
                    <p> @TODO </p>
                </div>
            </div>
        </div>
    </div>
</section>
