<div class="row">
    <div class="col s12 m12 l5">
        <h3 class="white-text center-align">France</h3>
    </div>
    <div class="col l1 hide-on-med-and-down">
        <h3><i class="material-icons md-48 white-text">keyboard_arrow_right</i></h3>
    </div>
    <div class="col s12 m12 l6">
        <h3 class="white-text center-align">
            <a id="tp-step-select" class='dropdown-button white-text' href='#' data-activates='dropdown1'>Paris</a>
        </h3>
        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
            <li><a href="#!">Marseille</a></li>
            <li><a href="#!">Lyon</a></li>
            <li class="divider"></li>
            <li><a href="#!">Strasbourg</a></li>
        </ul>
    </div>
</div>
