#tp-content > .row{
    margin-bottom: 0px;
}

#navbar-container{
    position: relative;
}

/* MAP */

#map-container{
    height: 100%;
    margin: 0;
    padding: 0;
    position:relative;
}

/** min-height map on mobile devices **/
@media only screen and (max-width: 601px) {
    #map-container, #mapid{
        height:320px;
    }
}

#tp-panel-container{
margin: 0;
padding: 0px;
background: #FFF;
}


/* TABS */
#tp-tabs{
    margin-top: 20px;
}


.tabs .tab a, .tabs .tab a.active {
    color: #FF9800;
}
.tabs .indicator {
    background-color: #FF9800;
}

#tp-top-bar{
    margin-bottom: 0px;
}
#tp-right-panel{
    overflow-y: auto;
    overflow-x: hidden;
}