<a (click)="toggleTeam()"
   id="tp-team-opener"
   [class.righten]="isTeamOpened"
   class="waves-effect waves-light #26c6da red lighten-1">
    <i class="material-icons">people</i>
</a>
<section *ngIf="isTeamOpened" id="tp-team-window" class="red lighten-1">
    <ul class="collection" id="tp-chat-window-message-list">
        <li *ngFor="#people of team; #i = index" class="collection-item avatar">
            <img class="circle" src="http://lorempixel.com/100/100/people/?random={{ i }}"
                 alt="Contact Person">
            <span class="title">Jane Doe</span>
        </li>
    </ul>
</section>