
#tp-team-opener, #tp-team-window{
    position: absolute;
    left: 0px;
    top: 100px;
    z-index: 1;
}

#tp-team-opener{
    color: #FFF;
    text-align: center;
    padding: 18px;
    overflow: visible;
    cursor:pointer
}

#tp-team-opener.righten{
    left:280px;
}

#tp-team-opener .badge-nb-connected{
    display: block;
    position: absolute;
    top: -8px;
    right: -8px;
    border-radius: 30px;
    width: 24px;
    height: 24px;
    margin: 0;
    text-align: center;
    padding: 2px;
    z-index: 10;
}

#tp-team-window{
    width: 280px;
    display: block;
    max-height: 500px;
    overflow-y: auto;
}

#tp-team-window ul.collection{
    border:none;
    margin: 0 auto;
}

#tp-team-window ul li.avatar{
    min-height: 60px;
}

.team-item{
    position: relative;
    background-color: #f5f5f5;
}

.is-connected{
    width: 10px;
    height: 10px;
    position: absolute;
    top : 25px;
    right: 10px;
    border-radius: 10px;
    background-color: #e0e0e0;
}