
#tp-team-opener, #tp-team-window{
    position: absolute;
    left: 0px;
    top: 120px;
    z-index: 1;
}

#tp-team-opener{
    color: #FFF;
    text-align: center;
    padding: 12px;
}

#tp-team-opener.righten{
    left:200px;
}

#tp-team-window{
    width: 200px;
    display: block;
    max-height: 500px;
    overflow-y: auto;
}

#tp-team-window ul.collection{
    border:none;
    margin: 0 auto;
}

#tp-team-window ul li.avatar{
    min-height: 60px;
}