
#tp-team-window{
    position: absolute;
    right: 0px;
    top: 200px;
    z-index: 1;
}

#tp-team-window-triangle{
    width: 0px;
    height: 0px;
    margin-left: 66%;
    border-style: solid;
    border-width: 0 15px 26.0px 15px;
    border-color: transparent transparent #ef5350 transparent;
}

#tp-team-window #tp-team-window-container{
    display: block;
    position: relative;
    min-height: 450px;
    padding: 10px;
}

#tp-team-people {
    position: absolute;
    top: 80px;
    left: 5px;
    width: 150px;
    height: auto;
    max-height: 300px;
    z-index: 10;
    background: #FFF;
    padding: 12px;
    overflow-y: scroll;
    border: 1px solid #ef5350;
    border-top: none;
}

#tp-team-people .chip{
    display:block;
    clear:both;
    margin-top: 10px;
}

@media only screen and (min-width: 601px) {
    #tp-team-window-triangle{
        width: 0px;
        height: 0px;
        margin-left: 79%;
    }
    #tp-team-window{
        top: 180px;
    }
}

@media only screen and (min-width: 993px) {
    #tp-team-window{
        top: 110px;
    }
}